body {
	margin: 0;
}
#searchAndLogoContainer {
	width: 100%;
	position: relative;
	padding-top: 10%;
}

#searchAndLogoContainer img {
	height: 95px;
	width: 269px;
}

#topNavBarContainer {
	width: 100%;
	height: 10%;
	position: relative;
	z-index: 15;
}

#topNavBarContainer ul{
	float: right;
	color: #666;
	margin-right: 15px;
	font-size: .9em;
	width: 12.2%;
	display: flex;
	align-items: center;
}

#topNavBarContainer ul li a {
	color: #000;
	margin-left: 15px;
}

#topNavBarContainer ul li a img {
	margin-left: 10px;
}

#options, #notifications {
	height: 30px;
	width: 30px;
}

#gpluscircle {
	height: 50px;
	width: 50px;	
}

#searchbar {
	width: 20%;
	height: 2%;
	margin-top: 20px;
	background: url("http://1.bp.blogspot.com/-P5k4F6cG33U/TiV0K8MtQ6I/AAAAAAAAASw/qphvhdJhMLc/s1600/1245696369955185815speciwoman_Microphone_icon.svg.med.png") no-repeat scroll 485px 3px;
	background-size: 15px 15px;
}

.center {
	display: table;
	margin: 0 auto;
}

#searchAndLogoContainer form ul {
	width: 30%;
}

li {
	display: inline;
}

#botNavBarContainer {
	position: absolute;
	bottom: 0;
	width: 100%;
	border-top: 1px solid #e4e4e4;
	background-color: #f2f2f2;
	line-height: 10px;
}

a {
	text-decoration: none;
	color: #666;
}

a:hover {
	text-decoration: underline;
}


#leftElements {
	float: left;
	padding: 0;
}

#rightElements {
	float: right;
}

#leftElements li {
	margin-left: 27px;
}

#rightElements li {
	margin-right: 27px;
}

form input[type="submit"] {
	margin-top: 25px;
	padding: 1%;
	border: 1px solid #e4e4e4;
	background-color: #f2f2f2;
	z-index: 50000000;
}

form input[type="submit"]:hover {
	margin-top: 25px;
	padding: 1%;
	border: 1px solid #e4e4e4;
	background-color: #f2f2f2;
	box-shadow: 1px 1px rgba(0, 0, 0, 0.1);
}

#searchbutton {
	margin-left: 30%;
	margin-right: 20px;
}